app-no {
  display: block;
}
.conteiner{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
no{
  &:hover {
    background-color: rgb(255, 0, 0) !important;
  }
}
