div{
  &:hover {
    background-color: rgb(255, 0, 0) !important;
  }
}
@keyframes coronda {
  0% {
    background-color: #192a61;
  }
  50% {
    background-color: #96f1ff;
  }
  100% {
    background-color: #192a61;
  }
}
.ligaonda {
  animation: coronda 2.5s;
}

